
<h3>2025</h3>
<ol class="begin">

<li>
<strong>Post-Quantum Threshold Ring Signature Applications from VOLE-in-the-Head</strong><br />
<em>James Hsin-Yu Chiang, Ivan Damgård, William R Duro, Sunniva Engan, Sebastian Kolby, and Peter Scholl</em><br />
<em>ACM CCS 2025</em><br />

(<a href="https://eprint.iacr.org/2025/113">eprint</a>)
</li>

<li>
<strong>Shorter, Tighter, FAESTer: Optimizations and Improved (QROM) Analysis for VOLE-in-the-Head Signatures</strong><br />
<em>Carsten Baum, Ward Beullens, Lennart Braun, Cyprien Delpech de Saint Guilhem, Michael Klooß, Christian Majenz, Shibam Mukherjee, Emmanuela Orsini, Sebastian Ramacher, Christian Rechberger, Lawrence Roy, and Peter Scholl</em><br />
<em>CRYPTO 2025</em><br />


</li>

<li>
<strong>Silent circuit relinearisation: Sublinear-size (boolean and arithmetic) garbled circuits from DCR</strong><br />
<em>Pierre Meyer, Claudio Orlandi, Lawrence Roy, and Peter Scholl</em><br />
<em>CRYPTO 2025</em><br />

(<a href="https://eprint.iacr.org/2025/245">eprint</a>)
</li>

<li>
<strong>MAESTRO: Multi-Party AES Using Lookup Tables</strong><br />
<em>Hiraku Morita, Erik Pohle, Kunihiko Sadakane, Peter Scholl, Kazunari Tozawa, and Daniel Tschudi</em><br />
<em>USENIX Security 2025</em><br />

(<a href="https://eprint.iacr.org/2024/1317">eprint</a>)
</li>

<li>
<strong>Rushing at SPDZ: On the Practical Security of Malicious MPC Implementations</strong><br />
<em>Alexander Kyster, Frederik Huss Nielsen, Sabine Oechsner, and Peter Scholl</em><br />
<em>2025 IEEE Symposium on Security and Privacy (S&P)</em><br />

(<a href="https://eprint.iacr.org/2025/789">eprint</a>)
</li>

<li>
<strong>Low-Bandwidth Mixed Arithmetic in VOLE-Based ZK from Low-Degree PRGs</strong><br />
<em>Amit Agarwal, Carsten Baum, Lennart Braun, and Peter Scholl</em><br />
<em>EUROCRYPT 2025</em><br />


</li>

</ol>

<h3>2024</h3>

<ol class="begin">

<li>
<strong>Rate-1 arithmetic garbling from homomorphic secret sharing</strong><br />
<em>Pierre Meyer, Claudio Orlandi, Lawrence Roy, and Peter Scholl</em><br />
<em>TCC 2024</em><br />

(<a href="https://eprint.iacr.org/2024/820">eprint</a>)
</li>

<li>
<strong>Direct FSS constructions for branching programs and more from PRGs with encoded-output homomorphism</strong><br />
<em>Elette Boyle, Lisa Kohl, Zhe Li, and Peter Scholl</em><br />
<em>ASIACRYPT 2024</em><br />

(<a href="https://eprint.iacr.org/2024/192">eprint</a>)
</li>

<li>
<strong>One tree to rule them all: Optimizing GGM trees and OWFs for post-quantum signatures</strong><br />
<em>Carsten Baum, Ward Beullens, Shibam Mukherjee, Emmanuela Orsini, Sebastian Ramacher, Christian Rechberger, Lawrence Roy, and Peter Scholl</em><br />
<em>ASIACRYPT 2024</em><br />

(<a href="https://eprint.iacr.org/2024/490">eprint</a>)
</li>

<li>
<strong>Cheater identification on a budget: MPC with identifiable abort from pairwise macs</strong><br />
<em>Carsten Baum, Nikolas Melissaris, Rahul Rachuri, and Peter Scholl</em><br />
<em>CRYPTO 2024</em><br />

(<a href="https://eprint.iacr.org/2023/1548">eprint</a>)
</li>

<li>
<strong>Succinct homomorphic secret sharing</strong><br />
<em>Damiano Abram, Lawrence Roy, and Peter Scholl</em><br />
<em>EUROCRYPT 2024</em><br />

(<a href="https://eprint.iacr.org/2024/814">eprint</a>)
</li>

</ol>

<h3>2023</h3>

<ol class="begin">

<li>
<strong>Simple threshold (fully homomorphic) encryption from LWE with polynomial modulus</strong><br />
<em>Katharina Boudgoust and Peter Scholl</em><br />
<em>ASIACRYPT 2023</em><br />

(<a href="https://eprint.iacr.org/2023/016">eprint</a>)
</li>

<li>
<strong>Publicly Verifiable Zero-Knowledge and Post-Quantum Signatures From VOLE-in-the-Head</strong><br />
<em>Carsten Baum, Lennart Braun, Cyprien de Saint Guilhem, Michael Klooß, Lawrence Roy, and Peter Scholl</em><br />
<em>CRYPTO 2023</em><br />

(<a href="https://eprint.iacr.org/2023/996">eprint</a>)
</li>

<li>
<strong>Oblivious Transfer with Constant Computational Overhead</strong><br />
<em>Elette Boyle, Geoffroy Couteau, Niv Gilboa, Yuval Ishai, Lisa Kohl, Nicolas Resch, and Peter Scholl</em><br />
<em>EUROCRYPT 2023</em><br />

(<a href="https://eprint.iacr.org/2023/817">eprint</a>)
</li>

</ol>

<h3>2022</h3>

<ol class="begin">

<li>
<strong>Feta: Efficient Threshold Designated-Verifier Zero-Knowledge Proofs</strong><br />
<em>Carsten Baum, Robin Jadoul, Emmanuela Orsini, Peter Scholl, and Nigel P. Smart</em><br />
<em>ACM CCS 2022</em><br />

(<a href="https://eprint.iacr.org/2022/082">eprint</a>)
</li>

<li>
<strong>Scooby: Improved Multi-Party Homomorphic Secret Sharing Based on FHE</strong><br />
<em>Ilaria Chillotti, Emmanuela Orsini, Peter Scholl, Nigel Paul Smart, and Barry Van Leeuwen</em><br />
<em>SCN 2022</em><br />

(<a href="https://eprint.iacr.org/2022/862">eprint</a>)
</li>

<li>
<strong>Le Mans: Dynamic and Fluid MPC for Dishonest Majority</strong><br />
<em>Rahul Rachuri and Peter Scholl</em><br />
<em>CRYPTO 2022</em><br />

(<a href="https://eprint.iacr.org/2021/1579">eprint</a>)
</li>

<li>
<strong>An Algebraic Framework for Silent Preprocessing with Trustless Setup and Active Security</strong><br />
<em>Damiano Abram, Ivan Damgård, Claudio Orlandi, and Peter Scholl</em><br />
<em>CRYPTO 2022</em><br />

(<a href="https://eprint.iacr.org/2022/363">eprint</a>)
</li>

<li>
<strong>Correlated Pseudorandomness from Expand-Accumulate Codes</strong><br />
<em>Elette Boyle, Geoffroy Couteau, Niv Gilboa, Yuval Ishai, Lisa Kohl, Nicolas Resch, and Peter Scholl</em><br />
<em>CRYPTO 2022</em><br />

(<a href="https://eprint.iacr.org/2022/1014">eprint</a>)
</li>

<li>
<strong>Moz{Z_2^k}arella: Efficient Vector-OLE and Zero-Knowledge Proofs Over Z_2^k</strong><br />
<em>Carsten Baum, Lennart Braun, Alexander Munch-Hansen, and Peter Scholl</em><br />
<em>CRYPTO 2022</em><br />

(<a href="https://eprint.iacr.org/2022/819">eprint</a>)
</li>

<li>
<strong>Multiparty Computation with Covert Security and Public Verifiability</strong><br />
<em>Peter Scholl, Mark Simkin, and Luisa Siniscalchi</em><br />
<em>ITC 2022</em><br />

(<a href="https://eprint.iacr.org/2021/336">eprint</a>)
</li>

<li>
<strong>Distributed (Correlation) Samplers: How to Remove a Trusted Dealer in One Round</strong><br />
<em>Damiano Abram, Peter Scholl, and Sophia Yakoubov</em><br />
<em>EUROCRYPT 2022</em><br />

(<a href="https://eprint.iacr.org/2022/535">eprint</a>)
</li>

<li>
<strong>On the Bottleneck Complexity of MPC with Correlated Randomness</strong><br />
<em>Claudio Orlandi, Divya Ravi, and Peter Scholl</em><br />
<em>PKC 2022</em><br />

(<a href="https://eprint.iacr.org/2021/1594">eprint</a>)
</li>

<li>
<strong>Low-Communication Multiparty Triple Generation for SPDZ from Ring-LPN</strong><br />
<em>Damiano Abram and Peter Scholl</em><br />
<em>PKC 2022</em><br />

(<a href="https://eprint.iacr.org/2022/315">eprint</a>)
</li>

<li>
<strong>Low-Bandwidth Threshold ECDSA via Pseudorandom Correlation Generators</strong><br />
<em>Damiano Abram, Ariel Nof, Claudio Orlandi, Peter Scholl, and Omer Shlomovits</em><br />
<em>IEEE Symposium on Security and Privacy, S&P 2022</em><br />

(<a href="https://eprint.iacr.org/2021/1587">eprint</a>)
</li>

</ol>

<h3>2021</h3>

<ol class="begin">

<li>
<strong>Appenzeller to Brie: Efficient Zero-Knowledge Proofs for Mixed-Mode Arithmetic and Z2k</strong><br />
<em>Carsten Baum, Lennart Braun, Alexander Munch-Hansen, Benoît Razet, and Peter Scholl</em><br />
<em>ACM CCS 2021</em><br />

(<a href="https://eprint.iacr.org/2021/750">eprint</a>)
</li>

<li>
<strong>Mac'n'Cheese: Zero-Knowledge Proofs for Boolean and Arithmetic Circuits with Nested Disjunctions</strong><br />
<em>Carsten Baum, Alex J. Malozemoff, Marc B. Rosen, and Peter Scholl</em><br />
<em>CRYPTO 2021</em><br />

(<a href="https://eprint.iacr.org/2020/1410">eprint</a>)
</li>

<li>
<strong>Low-Complexity Weak Pseudorandom Functions in AC0[MOD2]</strong><br />
<em>Elette Boyle, Geoffroy Couteau, Niv Gilboa, Yuval Ishai, Lisa Kohl, and Peter Scholl</em><br />
<em>CRYPTO 2021</em><br />

(<a href="">eprint</a>)
</li>

<li>
<strong>Oblivious TLS via Multi-party Computation</strong><br />
<em>Damiano Abram, Ivan Damgård, Peter Scholl, and Sven Trieflinger</em><br />
<em>CT-RSA 2021</em><br />

(<a href="https://eprint.iacr.org/2021/318">eprint</a>)
</li>

<li>
<strong>Banquet: Short and Fast Signatures from AES</strong><br />
<em>Carsten Baum, Cyprien Delpech de Saint Guilhem, Daniel Kales, Emmanuela Orsini, Peter Scholl, and Greg Zaverucha</em><br />
<em>PKC 2021</em><br />

(<a href="https://eprint.iacr.org/2021/068">eprint</a>)
</li>

<li>
<strong>The Rise of Paillier: Homomorphic Secret Sharing and Public-Key Silent OT</strong><br />
<em>Claudio Orlandi, Peter Scholl, and Sophia Yakoubov</em><br />
<em>EUROCRYPT 2021</em><br />

(<a href="https://eprint.iacr.org/2021/262">eprint</a>)
</li>

</ol>

<h3>2020</h3>

<ol class="begin">

<li>
<strong>Correlated Pseudorandom Functions from Variable-Density LPN</strong><br />
<em>Elette Boyle, Geoffroy Couteau, Niv Gilboa, Yuval Ishai, Lisa Kohl, and Peter Scholl</em><br />
<em>FOCS 2020</em><br />

(<a href="https://eprint.iacr.org/2020/1417">eprint</a>)
</li>

<li id="BEPST20">
<strong>Efficient Protocols for Oblivious Linear Function Evaluation from Ring-LWE</strong><br />
<em>Carsten Baum, Daniel Escudero, Alberto Pedrouzo-Ulloa, Peter Scholl, and Juan Ramón Troncoso-Pastoriza</em><br />
<em>SCN 2020</em><br />

(<a href="https://eprint.iacr.org/2020/970">eprint</a>)
</li>

<li>
<strong>Improved Primitives for MPC over Mixed Arithmetic-Binary Circuits</strong><br />
<em>Daniel Escudero, Satrajit Ghosh, Marcel Keller, Rahul Rachuri, and Peter Scholl</em><br />
<em>CRYPTO 2020</em><br />

(<a href="https://eprint.iacr.org/2020/338">eprint</a>)
</li>

<li>
<strong>Efficient Constant-Round MPC with Identifiable Abort and Public Verifiability</strong><br />
<em>Carsten Baum, Emmanuela Orsini, Peter Scholl, and Eduardo Soria-Vazquez</em><br />
<em>CRYPTO 2020</em><br />

(<a href="https://eprint.iacr.org/2020/767">eprint</a>)
</li>

<li>
<strong>Efficient Pseudorandom Correlation Generators From Ring-LPN</strong><br />
<em>Elette Boyle, Geoffroy Couteau, Niv Gilboa, Yuval Ishai, Lisa Kohl, and Peter Scholl</em><br />
<em>CRYPTO 2020</em><br />

(<a href="https://eprint.iacr.org/2022/1035">eprint</a>)
</li>

</ol>

<h3>2019</h3>

<ol class="begin">

<li>
<strong>Efficient Two-Round OT Extension and Silent Non-Interactive Secure Computation</strong><br />
<em>Elette Boyle, Geoffroy Couteau, Niv Gilboa, Yuval Ishai, Lisa Kohl, Peter Rindal, and Peter Scholl</em><br />
<em>ACM CCS 2019</em><br />

(<a href="https://eprint.iacr.org/2019/1159">eprint</a>)
</li>

<li>
<strong>Efficient Pseudorandom Correlation Generators: Silent OT Extension and More</strong><br />
<em>Elette Boyle, Geoffroy Couteau, Niv Gilboa, Yuval Ishai, Lisa Kohl, and Peter Scholl</em><br />
<em>CRYPTO 2019</em><br />

(<a href="https://eprint.iacr.org/2019/448">eprint</a>)
</li>

<li>
<strong>Homomorphic Secret Sharing from Lattices Without FHE</strong><br />
<em>Elette Boyle, Lisa Kohl, and Peter Scholl</em><br />
<em>EUROCRYPT 2019</em><br />

(<a href="https://eprint.iacr.org/2019/129">eprint</a>)
</li>

<li>
<strong>New Primitives for Actively-Secure MPC over Rings with Applications to Private Machine Learning</strong><br />
<em>Ivan Damgård, Daniel Escudero, Tore Kasper Frederiksen, Marcel Keller, Peter Scholl, and Nikolaj Volgushev</em><br />
<em>IEEE Symposium on Security and Privacy, S&P 2020</em><br />

(<a href="https://eprint.iacr.org/2019/599">eprint</a>)
</li>

</ol>

<h3>2018</h3>

<ol class="begin">

<li>
<strong>Concretely Efficient Large-Scale MPC with Active Security (or, TinyKeys for TinyOT)</strong><br />
<em>Carmit Hazay, Emmanuela Orsini, Peter Scholl, and Eduardo Soria-Vazquez</em><br />
<em>ASIACRYPT 2018</em><br />

(<a href="https://eprint.iacr.org/2018/843">eprint</a>)
</li>

<li id="HOSS18">
<strong>TinyKeys: A New Approach to Efficient Multi-Party Computation</strong><br />
<em>Carmit Hazay, Emmanuela Orsini, Peter Scholl, and Eduardo Soria-Vazquez</em><br />
<em>CRYPTO 2018</em><br />

(<a href="https://eprint.iacr.org/2018/208">eprint</a>)
</li>

<li>
<strong>SPDZ2k: Efficient MPC mod 2^k for Dishonest Majority</strong><br />
<em>Ronald Cramer, Ivan Damgård, Daniel Escudero, Peter Scholl, and Chaoping Xing</em><br />
<em>CRYPTO 2018</em><br />

(<a href="https://eprint.iacr.org/2018/482">eprint</a>)
</li>

<li>
<strong>Extending Oblivious Transfer with Low Communication via Key-Homomorphic PRFs</strong><br />
<em>Peter Scholl</em><br />
<em>PKC 2018</em><br />

(<a href="https://eprint.iacr.org/2018/036">eprint</a>)
</li>

<li>
<strong>Compact Zero-Knowledge Proofs of Small Hamming Weight</strong><br />
<em>Ivan Damgård, Ji Luo, Sabine Oechsner, Peter Scholl, and Mark Simkin</em><br />
<em>PKC 2018</em><br />

(<a href="https://eprint.iacr.org/2017/1041">eprint</a>)
</li>

</ol>

<h3>2017</h3>

<ol class="begin">

<li id="HSS17">
<strong>Low Cost Constant Round MPC Combining BMR and Oblivious Transfer</strong><br />
<em>Carmit Hazay, Peter Scholl, and Eduardo Soria-Vazquez</em><br />
<em>ASIACRYPT 2017</em><br />

(<a href="https://eprint.iacr.org/2017/214">eprint</a>)
</li>

<li>
<strong>When It's All Just Too Much: Outsourcing MPC-Preprocessing</strong><br />
<em>Peter Scholl, Nigel P. Smart, and Tim Wood</em><br />
<em>16th IMA International Conference on Cryptography and Coding, 2017</em><br />

(<a href="https://eprint.iacr.org/2017/262">eprint</a>)
</li>

<li>
<strong>Faster Secure Multi-party Computation of AES and DES Using Lookup Tables</strong><br />
<em>Marcel Keller, Emmanuela Orsini, Dragos Rotaru, Peter Scholl, Eduardo Soria-Vazquez, and Srinivas Vivek</em><br />
<em>ACNS 2017</em><br />

(<a href="https://eprint.iacr.org/2017/378">eprint</a>)
</li>

<li>
<strong>Actively Secure 1-out-of-N OT Extension with Application to Private Set Intersection</strong><br />
<em>Michele Orrù, Emmanuela Orsini, and Peter Scholl</em><br />
<em>CT-RSA 2017</em><br />

(<a href="https://eprint.iacr.org/2016/933">eprint</a>)
</li>

</ol>

<h3>2016</h3>

<ol class="begin">

<li>
<strong>Efficient Secure Multiparty Computation with Identifiable Abort</strong><br />
<em>Carsten Baum, Emmanuela Orsini, and Peter Scholl</em><br />
<em>TCC 2016-B</em><br />

(<a href="https://eprint.iacr.org/2016/187">eprint</a>)
</li>

<li>
<strong>MASCOT: Faster Malicious Arithmetic Secure Computation with Oblivious Transfer</strong><br />
<em>Marcel Keller, Emmanuela Orsini, and Peter Scholl</em><br />
<em>ACM CCS 2016</em><br />

(<a href="https://eprint.iacr.org/2016/505">eprint</a>)
</li>

<li>
<strong>MPC-Friendly Symmetric Key Primitives</strong><br />
<em>Lorenzo Grassi, Christian Rechberger, Dragos Rotaru, Peter Scholl, and Nigel P. Smart</em><br />
<em>ACM CCS 2016</em><br />

(<a href="https://eprint.iacr.org/2016/542">eprint</a>)
</li>

</ol>

<h3>2015</h3>

<ol class="begin">

<li>
<strong>A Unified Approach to MPC with Preprocessing Using OT</strong><br />
<em>Tore Kasper Frederiksen, Marcel Keller, Emmanuela Orsini, and Peter Scholl</em><br />
<em>ASIACRYPT 2015</em><br />

(<a href="https://eprint.iacr.org/2015/901">eprint</a>)
</li>

<li>
<strong>Actively Secure OT Extension with Optimal Overhead</strong><br />
<em>Marcel Keller, Emmanuela Orsini, and Peter Scholl</em><br />
<em>CRYPTO 2015</em><br />

(<a href="https://eprint.iacr.org/2015/546">eprint</a>)
</li>

</ol>

<h3>2014</h3>

<ol class="begin">

<li>
<strong>Efficient, Oblivious Data Structures for MPC</strong><br />
<em>Marcel Keller and Peter Scholl</em><br />
<em>ASIACRYPT 2014</em><br />

(<a href="https://eprint.iacr.org/2014/137">eprint</a>)
</li>

</ol>

<h3>2013</h3>

<ol class="begin">

<li>
<strong>An architecture for practical actively secure MPC with dishonest majority</strong><br />
<em>Marcel Keller, Peter Scholl, and Nigel P. Smart</em><br />
<em>ACM CCS 2013</em><br />

(<a href="https://eprint.iacr.org/2013/143">eprint</a>)
</li>

<li>
<strong>Practical Covertly Secure MPC for Dishonest Majority - Or: Breaking the SPDZ Limits</strong><br />
<em>Ivan Damgård, Marcel Keller, Enrique Larraia, Valerio Pastro, Peter Scholl, and Nigel P. Smart</em><br />
<em>ESORICS 2013</em><br />

(<a href="https://eprint.iacr.org/2012/642">eprint</a>)
</li>

</ol>

<h3>2011</h3>

<ol class="begin">

<li>
<strong>Improved Key Generation for Gentry's Fully Homomorphic Encryption Scheme</strong><br />
<em>Peter Scholl and Nigel P. Smart</em><br />
<em>13th IMA International Conference on Cryptography and Coding, 2011</em><br />

(<a href="https://eprint.iacr.org/2011/471">eprint</a>)
</li>
</ol>

