<ol class="begin">

<li>
<strong>Who Verifies the Verifiers? Lessons Learned From Formally Verified Line-Point Zero-Knowledge</strong><br />
<em>Sabine Oechsner, Vitor Pereira, and Peter Scholl</em><br />
<em>IACR Communications in Cryptology, 2025</em><br />

(<a href="https://eprint.iacr.org/2025/1835">eprint</a>)
</li>

<li>
<strong>SoK: Vector OLE-Based Zero-Knowledge Protocols</strong><br />
<em>Carsten Baum, Samuel Dittmer, Peter Scholl, and Xiao Wang</em><br />
<em>Designs, Codes and Cryptography, 2023</em><br />

(<a href="https://eprint.iacr.org/2023/857">eprint</a>)
</li>

<li>
<strong>Efficient protocols for oblivious linear function evaluation from ring-LWE</strong><br />
<em>Carsten Baum, Daniel Escudero, Alberto Pedrouzo-Ulloa, Peter Scholl, and Juan Ramón Troncoso-Pastoriza</em><br />
<em>Journal of Computer Security, 2022</em><br />

(<a href="https://doi.org/10.3233/JCS-200116">eprint</a>)
</li>

<li>
<strong>TinyKeys: A New Approach to Efficient Multi-Party Computation</strong><br />
<em>Carmit Hazay, Emmanuela Orsini, Peter Scholl, and Eduardo Soria-Vazquez</em><br />
<em>Journal of Cryptology, 2022</em><br />

(<a href="https://doi.org/10.1007/s00145-022-09423-5">eprint</a>)
</li>

<li>
<strong>High-Performance Multi-party Computation for Binary Circuits Based on Oblivious Transfer</strong><br />
<em>Sai Sheshank Burra, Enrique Larraia, Jesper Buus Nielsen, Peter Sebastian Nordholt, Claudio Orlandi, Emmanuela Orsini, Peter Scholl, and Nigel P. Smart</em><br />
<em>Journal of Cryptology, 2021</em><br />

(<a href="https://doi.org/10.1007/s00145-021-09403-1">eprint</a>)
</li>

<li>
<strong>Low Cost Constant Round MPC Combining BMR and Oblivious Transfer</strong><br />
<em>Carmit Hazay, Peter Scholl, and Eduardo Soria-Vazquez</em><br />
<em>Journal of Cryptology, 2020</em><br />

(<a href="https://doi.org/10.1007/s00145-020-09355-y">eprint</a>)
</li>
</ol>

