<ol class="begin">

<li>
<strong> High Performance Multi-Party Computation for Binary Circuits Based on Oblivious Transfer</strong><br />
<em> Sai Sheshank Burra and Enrique Larraia and Jesper Buus Nielsen and Peter Sebastian Nordholt and Claudio Orlandi and Emmanuela Orsini and Peter Scholl and Nigel P. Smart</em><br />
<em>Journal of Cryptology, 2021. (Merged and extended version of <a href="https://eprint.iacr.org/2011/091">[NNOB12]</a> and <a href="https://eprint.iacr.org/2014/101">[LOS14]</a>)</em><br />
(<a href="https://eprint.iacr.org/2015/472">eprint</a>)
</li>

<li>
<strong>Low Cost Constant Round MPC Combining BMR and Oblivious Transfer</strong><br />
<em>Carmit Hazay and Peter Scholl and Eduardo Soria-Vazquez</em><br />
<em>Journal of Cryptology, 2020. (Extended version of <a href="#HSS17">[HSS17]</a>)</em><br />
(<a href="https://eprint.iacr.org/2017/214">eprint</a>)
</li>

</ol>