<ol class="begin">

<li>
<strong>SoK: Vector OLE-Based Zero-Knowledge Protocols</strong><br />
<em>Carsten Baum and Samuel Dittmer and Peter Scholl and Xiao Wang</em><br />
<em>Designs, Codes and Cryptography (to appear)</em><br />
(<a href="https://eprint.iacr.org/2023/857">eprint</a>)
</li>

<li>
<strong>Efficient protocols for oblivious linear function evaluation from ring-LWE</strong><br />
<em>Carsten Baum and Daniel Escudero and Alberto Pedrouzo-Ulloa and Peter Scholl and Juan Ramón Troncoso-Pastoriza</em><br />
<em>Journal of Computer Security, 2022</em><br />
(<a href="https://eprint.iacr.org/2020/970">eprint</a>)
</li>

<li>
<strong>TinyKeys: A New Approach to Efficient Multi-Party Computation</strong><br />
<em>Carmit Hazay and Emmanuela Orsini and Peter Scholl and Eduardo Soria-Vazquez</em><br />
<em>Journal of Cryptology, 2022</em><br />
(<a href="https://eprint.iacr.org/2018/208">eprint</a>)
</li>

<li>
<strong>High-Performance Multi-party Computation for Binary Circuits Based on Oblivious Transfer</strong><br />
<em>Sai Sheshank Burra and Enrique Larraia and Jesper Buus Nielsen and Peter Sebastian Nordholt and Claudio Orlandi and Emmanuela Orsini and Peter Scholl and Nigel P. Smart</em><br />
<em>Journal of Cryptology, 2021</em><br />
(<a href="https://eprint.iacr.org/2015/472">eprint</a>)
</li>

<li>
<strong>Low Cost Constant Round MPC Combining BMR and Oblivious Transfer</strong><br />
<em>Carmit Hazay and Peter Scholl and Eduardo Soria-Vazquez</em><br />
<em>Journal of Cryptology, 2020</em><br />
(<a href="https://eprint.iacr.org/2017/214">eprint</a>)
</li>
</ol>

