<ol class="begin">
    <li>
        <strong>FAEST Signature Algorithm</strong><br />
        <em>Carsten Baum and Lennart Braun and Cyprien de Saint Guilhem and Michael Klooß and Christian Majenz and Shibam Mukherjee and Emmanuela Orsini and Sebastian Ramacher and Christian Rechberger and Lawrence Roy and Peter Scholl</em><br />
        
        (<a href="https://faest.info">website</a>)
        </li>
        
        <li>
        <strong>On the (Im)possibility of Distributed Samplers: Lower Bounds and Party-Dynamic Constructions</strong><br />
        <em>Damiano Abram and Maciej Obremski and Peter Scholl</em><br />
        
        (<a href="https://eprint.iacr.org/2023/863">eprint</a>)
        </li>
        
        <li>
        <strong>Encrypt Your Channels! On the (in)security of GMW with authenticated communication</strong><br />
        <em>Peter Scholl</em><br />
        <em>Talk at TPMPC 2019 Rump Session, Bar-Ilan University</em><br />
        
        (<a href="https://pascholl.github.io/download/gmw.pdf">eprint</a>)
    </li>
</ol>

