<ol class="begin">


<li>
<strong>Low-Bandwidth Threshold ECDSA via Pseudorandom Correlation Generators</strong><br />
<em>Damiano Abram and Ariel Nof and Claudio Orlandi and Peter Scholl and Omer Shlomovits</em><br />
<em>IACR ePrint Archive, 2021</em><br />
(<a href="https://eprint.iacr.org/2021/1587">eprint</a>)
</li>

<li>
<strong>Le Mans: Fluid MPC in the Dishonest Majority Setting</strong><br />
<em>Rahul Rachuri and Peter Scholl</em><br />
<em>IACR ePrint Archive, 2021</em><br />
(<a href="https://eprint.iacr.org/2021/1579">eprint</a>)
</li>

<li>
<strong>Multiparty Computation with Covert Security and Public Verifiability</strong><br />
<em>Peter Scholl and Mark Simkin and Luisa Siniscalchi</em><br />
<em>IACR ePrint Archive, 2021</em><br />
(<a href="https://eprint.iacr.org/2021/366">eprint</a>)
</li>

<li>
<strong>Encrypt Your Channels! On the (in)security of GMW with authenticated communication</strong><br />
<em>Peter Scholl</em><br />
<em>Talk at TPMPC 2019 Rump Session, Bar-Ilan University.</em><br />
(<a href="https://pascholl.github.io/download/gmw.pdf">slides (pdf)</a>)
</li>

<li>
<strong> High Performance Multi-Party Computation for Binary Circuits Based on Oblivious Transfer</strong><br />
<em> Sai Sheshank Burra and Enrique Larraia and Jesper Buus Nielsen and Peter Sebastian Nordholt and Claudio Orlandi and Emmanuela Orsini and Peter Scholl and Nigel P. Smart</em><br />
<em>IACR ePrint Archive, 2014. (Merged and extended version of <a href="#FKOS15">[FKOS15]</a> and <a href="https://eprint.iacr.org/2014/101">[LOS14]</a>)</em><br />
(<a href="https://eprint.iacr.org/2015/472">eprint</a>)
</li>

</ol>