<h3>2020</h3>
<ol class="begin">

<li>
<strong>Correlated Pseudorandom Functions from Variable-Density LPN</strong><br />
<em>Elette Boyle and Geoffroy Couteau and Niv Gilboa and Yuval Ishai and Lisa Kohl and Peter Scholl</em><br />
<em>FOCS 2020</em><br />
(<a>eprint</a>)
</li>

<li>
<strong>Efficient Protocols for Oblivious Linear Function Evaluation from Ring-LWE</strong><br />
<em>Carsten Baum and Daniel Escudero and Alberto Pedrouzo-Ulloa and Peter Scholl and Juan Ramón Troncoso-Pastoriza</em><br />
<em>SCN 2020</em><br />
(<a>eprint</a>)
</li>

<li>
<strong>Improved Primitives for MPC over Mixed Arithmetic-Binary Circuits</strong><br />
<em>Daniel Escudero and Satrajit Ghosh and Marcel Keller and Rahul Rachuri and Peter Scholl</em><br />
<em>CRYPTO 2020</em><br />
(<a href="https://eprint.iacr.org/2020/338">eprint</a>)
</li>

<li>
<strong>Efficient Constant-Round MPC with Identifiable Abort and Public Verifiability</strong><br />
<em>Carsten Baum and Emmanuela Orsini and Peter Scholl and Eduardo Soria-Vazquez</em><br />
<em>CRYPTO 2020</em><br />
(<a href="https://eprint.iacr.org/2020/767">eprint</a>)
</li>

<li>
<strong>Efficient Pseudorandom Correlation Generators From Ring-LPN</strong><br />
<em>Elette Boyle and Geoffroy Couteau and Niv Gilboa and Yuval Ishai and Lisa Kohl and Peter Scholl</em><br />
<em>CRYPTO 2020</em><br />
(<a>eprint</a>)
</li>

</ol>

<h3>2019</h3>

<ol class="continue">

<li>
<strong>Efficient Two-Round OT Extension and Silent Non-Interactive Secure Computation</strong><br />
<em>Elette Boyle and Geoffroy Couteau and Niv Gilboa and Yuval Ishai and Lisa Kohl and Peter Rindal and Peter Scholl</em><br />
<em>ACM CCS 2019</em><br />
(<a href="https://eprint.iacr.org/2019/1159">eprint</a>)
</li>

<li>
<strong>Efficient Pseudorandom Correlation Generators: Silent OT Extension and More</strong><br />
<em>Elette Boyle and Geoffroy Couteau and Niv Gilboa and Yuval Ishai and Lisa Kohl and Peter Scholl</em><br />
<em>CRYPTO 2019</em><br />
(<a href="https://eprint.iacr.org/2019/448">eprint</a>)
</li>

<li>
<strong>Homomorphic Secret Sharing from Lattices Without FHE</strong><br />
<em>Elette Boyle and Lisa Kohl and Peter Scholl</em><br />
<em>EUROCRYPT 2019</em><br />
(<a href="https://eprint.iacr.org/2019/129">eprint</a>)
</li>

<li>
<strong>New Primitives for Actively-Secure MPC over Rings with Applications to Private Machine Learning</strong><br />
<em>Ivan Damgård and Daniel Escudero and Tore Kasper Frederiksen and Marcel Keller and Peter Scholl and Nikolaj Volgushev</em><br />
<em>IEEE S&P 2020</em><br />
(<a href="https://eprint.iacr.org/2019/599">eprint</a>)
</li>

</ol>

<h3>2018</h3>

<ol class="continue">

<li>
<strong>Concretely Efficient Large-Scale MPC with Active Security (or, TinyKeys for TinyOT)</strong><br />
<em>Carmit Hazay and Emmanuela Orsini and Peter Scholl and Eduardo Soria-Vazquez</em><br />
<em>ASIACRYPT 2018</em><br />
(<a href="https://eprint.iacr.org/2018/843">eprint</a>)
</li>

<li>
<strong>TinyKeys: A New Approach to Efficient Multi-Party Computation</strong><br />
<em>Carmit Hazay and Emmanuela Orsini and Peter Scholl and Eduardo Soria-Vazquez</em><br />
<em>CRYPTO 2018</em><br />
(<a href="https://eprint.iacr.org/2018/208">eprint</a>)
</li>

<li>
<strong>SPD _2^k: Efficient MPC mod 2^k for Dishonest Majority</strong><br />
<em>Ronald Cramer and Ivan Damgård and Daniel Escudero and Peter Scholl and Chaoping Xing</em><br />
<em>CRYPTO 2018</em><br />
(<a href="https://eprint.iacr.org/2018/482">eprint</a>)
</li>

<li>
<strong>Extending Oblivious Transfer with Low Communication via Key-Homomorphic PRFs</strong><br />
<em>Peter Scholl</em><br />
<em>PKC 2018</em><br />
(<a href="https://eprint.iacr.org/2018/036">eprint</a>)
</li>

<li>
<strong>Compact Zero-Knowledge Proofs of Small Hamming Weight</strong><br />
<em>Ivan Damgård and Ji Luo and Sabine Oechsner and Peter Scholl and Mark Simkin</em><br />
<em>PKC 2018</em><br />
(<a href="https://eprint.iacr.org/2017/1041">eprint</a>)
</li>

</ol>

<h3>2017</h3>

<ol class="continue">

<li>
<strong>Low Cost Constant Round MPC Combining BMR and Oblivious Transfer</strong><br />
<em>Carmit Hazay and Peter Scholl and Eduardo Soria-Vazquez</em><br />
<em>ASIACRYPT 2017</em><br />
(<a href="https://eprint.iacr.org/2017/214">eprint</a>)
</li>

<li>
<strong>When It's All Just Too Much: Outsourcing MPC-Preprocessing</strong><br />
<em>Peter Scholl and Nigel P. Smart and Tim Wood</em><br />
<em>16th IMA International Conference on Cryptography and Coding</em><br />
(<a href="https://eprint.iacr.org/2017/262">eprint</a>)
</li>

<li>
<strong>Faster Secure Multi-party Computation of AES and DES Using Lookup Tables</strong><br />
<em>Marcel Keller and Emmanuela Orsini and Dragos Rotaru and Peter Scholl and Eduardo Soria-Vazquez and Srinivas Vivek</em><br />
<em>ACNS 2017</em><br />
(<a href="https://eprint.iacr.org/2017/378">eprint</a>)
</li>

<li>
<strong>Actively Secure 1-out-of-N OT Extension with Application to Private Set Intersection</strong><br />
<em>Michele Orrù and Emmanuela Orsini and Peter Scholl</em><br />
<em>CT-RSA 2017</em><br />
(<a href="https://eprint.iacr.org/2016/933">eprint</a>)
</li>

</ol>

<h3>2016</h3>

<ol class="continue">

<li>
<strong>Efficient Secure Multiparty Computation with Identifiable Abort</strong><br />
<em>Carsten Baum and Emmanuela Orsini and Peter Scholl</em><br />
<em>TCC 2016-B</em><br />
(<a href="https://eprint.iacr.org/2016/187">eprint</a>)
</li>

<li>
<strong>MASCOT: Faster Malicious Arithmetic Secure Computation with Oblivious Transfer</strong><br />
<em>Marcel Keller and Emmanuela Orsini and Peter Scholl</em><br />
<em>ACM CCS 2016</em><br />
(<a href="https://eprint.iacr.org/2016/505">eprint</a>)
</li>

<li>
<strong>MPC-Friendly Symmetric Key Primitives</strong><br />
<em>Lorenzo Grassi and Christian Rechberger and Dragos Rotaru and Peter Scholl and Nigel P. Smart</em><br />
<em>ACM CCS 2016</em><br />
(<a href="https://eprint.iacr.org/2016/542">eprint</a>)
</li>

</ol>

<h3>2015</h3>

<ol class="continue">

<li>
<strong>A Unified Approach to MPC with Preprocessing Using OT</strong><br />
<em>Tore Kasper Frederiksen and Marcel Keller and Emmanuela Orsini and Peter Scholl</em><br />
<em>ASIACRYPT 2015</em><br />
(<a href="https://eprint.iacr.org/2015/901">eprint</a>)
</li>

<li>
<strong>Actively Secure OT Extension with Optimal Overhead</strong><br />
<em>Marcel Keller and Emmanuela Orsini and Peter Scholl</em><br />
<em>CRYPTO 2015</em><br />
(<a href="https://eprint.iacr.org/2015/546">eprint</a>)
</li>

</ol>

<h3>2014</h3>

<ol class="continue">

<li>
<strong>Efficient, Oblivious Data Structures for MPC</strong><br />
<em>Marcel Keller and Peter Scholl</em><br />
<em>ASIACRYPT 2014</em><br />
(<a href="https://eprint.iacr.org/2014/137">eprint</a>)
</li>

</ol>

<h3>2013</h3>

<ol class="continue">

<li>
<strong>An architecture for practical actively secure MPC with dishonest majority</strong><br />
<em>Marcel Keller and Peter Scholl and Nigel P. Smart</em><br />
<em>ACM CCS 2013</em><br />
(<a href="https://eprint.iacr.org/2013/143">eprint</a>)
</li>

<li>
<strong>Practical Covertly Secure MPC for Dishonest Majority - Or: Breaking the SPDZ Limits</strong><br />
<em>Ivan Damgård and Marcel Keller and Enrique Larraia and Valerio Pastro and Peter Scholl and Nigel P. Smart</em><br />
<em>ESORICS 2013</em><br />
(<a href="https://eprint.iacr.org/2012/642">eprint</a>)
</li>

</ol>

<h3>2011</h3>

<ol class="continue">

<li>
<strong>Improved Key Generation for Gentry's Fully Homomorphic Encryption Scheme</strong><br />
<em>Peter Scholl and Nigel P. Smart</em><br />
<em>13th IMA International Conference on Cryptography and Coding</em><br />
(<a href="https://eprint.iacr.org/2011/471">eprint</a>)
</li>
</ol>

