
<!--
<h3>Preprints</h3>
<ul reversed>
<li>
  <strong>Efficient MPC from Syndrome Decoding (or: Honey, I Shrunk the Keys)</strong><br />
  <em>Carmit Hazay and Emmanuela Orsini and Peter Scholl and Eduardo Soria-Vazquez</em><br />
  (<a href="https://eprint.iacr.org/2018/208">eprint</a>)
</li>
</ul>
-->

<h3>2019</h3>

<ol class="begin">
  <li>
    <strong>New Primitives for Actively-Secure MPC mod 2^k with Applications to Private Machine Learning</strong><br />
    <em>Ivan Damg&aring;rd and Daniel Escudero and Tore Kasper Frederiksen and Marcel Keller and Peter Scholl and Nikolaj Volgushev</em><br />
    <em>IEEE S&P 2019</em><br />
    <!--(<a href="https://eprint.iacr.org/2019/XXX">eprint</a>)-->
  </li>
  <li>
  <strong>Homomorphic Secret Sharing from Lattices Without FHE</strong><br />
  <em>Elette Boyle and Lisa Kohl and Peter Scholl</em><br />
  <em>EUROCRYPT 2019</em><br />
  (<a href="https://eprint.iacr.org/2019/129">eprint</a>)
  </li>
</ol>

<h3>2018</h3>

<ol class="continue">
  <li>
  <strong>Concretely Efficient Large-Scale MPC with Active Security (or, TinyKeys for TinyOT)</strong><br />
  <em>Carmit Hazay and Emmanuela Orsini and Peter Scholl and Eduardo Soria-Vazquez</em><br />
  <em>ASIACRYPT 2018</em><br />
  (<a href="https://eprint.iacr.org/2018/843">eprint</a>)
  </li>
  <li>
  <strong>SPDZ_2^k: Efficient MPC mod 2^k for Dishonest Majority</strong><br />
  <em>Ronald Cramer and Ivan Damg&aring;rd and Daniel Escudero and Peter Scholl and Chaoping Xing</em><br />
  <em>CRYPTO 2018</em><br />
  (<a href="https://eprint.iacr.org/2018/482">eprint</a>)
  </li>
  <li>
  <strong>TinyKeys: A New Approach to Efficient Multi-Party Computation</strong><br />
  <em>Carmit Hazay and Emmanuela Orsini and Peter Scholl and Eduardo Soria-Vazquez</em><br />
  <em>CRYPTO 2018</em><br />
  (<a href="https://eprint.iacr.org/2018/208">eprint</a>)
  </li>
  <li>
  <strong>Extending Oblivious Transfer with Low Communication via Key-Homomorphic PRFs</strong><br />
  <em>Peter Scholl</em><br />
  <em>PKC 2018</em><br />
  (<a href="https://eprint.iacr.org/2018/036">eprint</a>)
  </li>
  <li>
  <strong>Compact Zero-Knowledge Proofs of Small Hamming Weight</strong><br />
  <em>Ivan Damg&aring;rd and Ji Lao and Sabine Oechsner and Mark Simkin and Peter Scholl</em><br />
  <em>PKC 2018</em><br />
  (<a href="https://eprint.iacr.org/2017/1041">eprint</a>)
  </li>
</ol>

<h3>2017</h3>

<ol class="continue">
<li>
<strong>Low Cost Constant Round MPC Combining BMR and Oblivious Transfer</strong><br />
<em>Carmit Hazay and Peter Scholl and Eduardo Soria-Vazquez</em><br />
<em>Asiacrypt 2017</em><br />
(<a href="https://eprint.iacr.org/2017/214">eprint</a>)
</li>
<li>
<strong>When It’s All Just Too Much: Outsourcing MPC-Preprocessing</strong><br />
<em>Peter Scholl and Nigel P. Smart and Tim Wood</em><br />
<em>IMA Cryptography & Coding 2017</em><br />
(<a href="https://eprint.iacr.org/2017/214">eprint</a>)
</li>
<li>
<strong>Faster Secure Multi-Party Computation of AES and DES Using Lookup Tables</strong><br />
<em>Marcel Keller and Emmanuela Orsini and Dragos Rotaru and Peter Scholl and Eduardo Soria-Vazquez and Srinivas Vivek</em><br />
<em>ACNS 2017</em><br />
(<a href="https://eprint.iacr.org/2017/378">eprint</a>)
</li>
<li>
<strong>Actively Secure 1-out-of-N OT Extension with Application to Private Set Intersection</strong><br />
<em>Michele Orrù and Emmanuela Orsini and Peter Scholl</em><br />
<em>CT-RSA 2017</em><br />
(<a href="https://eprint.iacr.org/2016/933">eprint</a>)
</li>
</ol>

<h3>2016</h3>

<ol class="continue">
<li>
<strong>Efficient Secure Multiparty Computation with Identifiable Abort</strong><br />
<em>Carsten Baum and Emmanuela Orsini and Peter Scholl</em><br />
<em>TCC 2016-b</em><br />
(<a href="https://eprint.iacr.org/2016/187">eprint</a>)
</li>
<li>
<strong>MPC-Friendly Symmetric Key Primitives</strong> <br />
<em>Lorenzo Grassi and Christian Rechberger and Dragos Rotaru and Peter Scholl and Nigel P. Smart</em><br />
<em>ACM CCS 2016</em><br />
(<a href="https://eprint.iacr.org/2016/542">eprint</a>)
</li>
<li>
<strong>MASCOT: Faster Malicious Arithmetic Secure Computation with Oblivious Transfer</strong> <br />
<em>Marcel Keller and Emmanuela Orsini and Peter Scholl</em><br />
<em>ACM CCS 2016</em><br />
(<a href="https://eprint.iacr.org/2016/505">eprint</a>)
</li>
</ol>
  
<h3>2015</h3>

<ol class="continue">
<li>
<strong>A Unified Approach to MPC with Preprocessing using OT</strong><br />
<em> Tore Kasper Frederiksen and Marcel Keller and Emmanuela Orsini and Peter Scholl</em><br />
<em>Asiacrypt 2015</em><br />
(<a href="https://eprint.iacr.org/2015/901">eprint</a>)
</li>
<li>
<strong>Actively Secure OT Extension with Optimal Overhead</strong><br />
<em>Emmanuela Orsini and Marcel Keller and Peter Scholl</em><br />
<em> CRYPTO 2015</em><br />
(<a href="https://eprint.iacr.org/2015/546">eprint</a>)
</li>
</ol>

  <h3>2014</h3>

<ol class="continue">
<li>
<strong>Efficient, Oblivious Data Structures for MPC</strong><br />
<em>Marcel Keller and Peter Scholl</em><br />
<em>Asiacrypt 2014</em><br />
(<a href="https://eprint.iacr.org/2014/137">eprint</a>)
</li>
</ol>

  <h3>2013</h3>

<ol class="continue">
<li>
<strong>An architecture for practical actively secure MPC with dishonest majority</strong><br />
<em>Marcel Keller and Peter Scholl and Nigel P. Smart</em><br />
<em>ACM CCS 2013</em><br />
(<a href="https://eprint.iacr.org/2013/143">eprint</a>)
</li>

<li>
<strong>Practical Covertly Secure MPC for Dishonest Majority - or: Breaking the SPDZ Limits</strong><br />
<em>Ivan Damg&aring;rd and Marcel Keller and Enrique Larraia and Valerio Pastro and Peter Scholl and Nigel P. Smart</em><br />
<em>ESORICS 2013</em> (Best Paper Award)<br />
(<a href="https://eprint.iacr.org/2012/642">eprint</a> | <a href="spdz2.pdf">slides</a>)
</li>
</ol>

  <h3>2011</h3>

<ol class="continue">
<li>
<strong>Improved Key Generation For Gentry's Fully Homomorphic Encryption Scheme</strong><br />
<em>Peter Scholl and Nigel P. Smart</em><br />
<em>IMA Cryptography & Coding 2011</em><br />
(<a href="https://eprint.iacr.org/2011/471">eprint</a> | <a href="imacc.pdf">slides</a>)
</li>
</ol>
