---
---

@import "{{ site.theme }}";

.img-circle {
    border-radius: 50%;
}

a:hover {
    color: green;
}

a::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

ol.begin {
  counter-reset: listcounter;
}

ol.begin li,
ol.continue li {
  list-style: none;
  text-indent: -1.2em;
}

ol.begin li:before,
ol.continue li:before {
  content: counter(listcounter) ". ";
  counter-increment: listcounter;
}
